@import "./normalize";
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

//$color-background: #14181a;
//$color-background-center: #5b6770;
//$color-text: #e3f3ff;
//$color-shadow-1: #88ff00;
//$color-shadow-2: #0088ff;
//$color-shadow-3: #ff0088;

$color-background: #0f131a;
$color-background-center: #2e384d;
$color-text: #a4c2ff;
$color-shadow-1: #66a321;
$color-shadow-2: #0088ff;
$color-shadow-3: #d21d7d;

$font-crt: 'VT323', monospace;
$smear: 0.1em;
$blur: 0.1em;
$scanlines-width: 3.5px;

////////////////////////////////////////////////////////////////////////////////

$scanlines: linear-gradient(
  rgba($color-background, 0),
  rgba($color-background, 0.5),
  rgba($color-background, 0)
);

@mixin crt-font {
  font-family: $font-crt;
  font-size: 28px;
  white-space: pre;
}

@mixin shadows($dist, $color: $color-text) {
  text-shadow:
//    0 0 $blur $color,
    $dist 0 $blur $color-shadow-1,
    -$dist 0 $blur*2 $color-shadow-2,
    $dist*2 0 $blur*2 $color-shadow-3;
}

@mixin effects($dist: $smear, $skew: 0, $tx: 0, $sx: 1) {
  @include shadows($dist);
  transform: skew($skew) translateX($tx) scaleX($sx);
}

@mixin fullsize {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

////////////////////////////////////////////////////////////////////////////////

@keyframes flicker {
  0% { opacity: 1; }
  50% { opacity: .75; }
  100% { opacity: 1; }
}

@keyframes blink {
  from { opacity: 1; }
  50% { opacity: 0; }
}

@keyframes glitch {
  0% { @include effects; }
  0.6% { transform: translateY(50%); }
  0.8% { transform: translateY(-10%); }
  1% { transform: translateY(10%); }
  1.2% { transform: translateY(30%); }
  1.4% { transform: translateY(50%); }
  1.6% { transform: translateY(-10%); }
  1.8% { transform: translateY(0); }
  17% { @include effects(1em, 10deg, -20%, 4); }
  18% { @include effects; }
  22% { @include effects(2em, 5deg); }
  23% { @include effects; }
  50% { @include effects(5em, 25deg); }
  50.5% { @include effects(1.5em, 25deg, 30%); }
  52% { @include effects; }
  67% { @include effects(1em, 5deg); }
  69% { @include effects(1.5em, 50deg, 50%, 1.5); }
  70% { @include effects($smear, 10deg); }
  75.5% { @include effects(2em, 20deg, 3); }
  76% { @include effects; }
  100% { @include effects; }
}

body {
  background-color: $color-background;
}

.crt-screen {
  // screen background: radial gradient
  background: radial-gradient($color-background-center, $color-background);
  filter: blur(0.6px);
  overflow: hidden;
  @include effects;

  // crt font
  @include crt-font;
  color: $color-text;
}

.crt-scanlines {
  // screen foreground: scanlines
  &:after {
    content: "";
    @include fullsize;

    animation: flicker 0.08s infinite;
    background: $scanlines;
    background-size: 100% $scanlines-width;
    z-index: 1;
    pointer-events: none;
  }
}

.crt-content {
  @include fullsize;
  padding: 3vw;
  font-size: calc(12px + 2vmin);
  overflow-y: auto;
  //mix-blend-mode: color-dodge;
  filter: contrast(1.2) brightness(1.3);
}

.crt-text {
}

.crt-typed {
  display: block;

  &[run] .crt-cursor {
    visibility: hidden;
  }
}

.crt-flicker {
  animation: flicker 0.08s infinite;
}

.crt-glitch {
  animation: glitch 11s infinite step-end, flicker 0.08s infinite;
}

.crt-block {
  filter: contrast(130%);
}

//.crt-text {
//  color: $color-text;
//
//  &:focus {
//    outline: none;
//    caret-color: transparent;
//  }
//}

.crt-cursor {
  &:after {
    content: "\258C";
    animation: blink 0.9s infinite step-start;
  }
}

.menu {
  //font-size: 2em;
}

.menu a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;

  &:hover {
    color: #e2ff40;
    text-shadow: $smear 0 $blur*2 $color-shadow-1;
  }

  &:before {
    content: ">> ";
    opacity: 0;
  }
  &:after {
    content: " <<";
    opacity: 0;
  }
  &:hover:before, &:hover:after {
    opacity: 1;
  }
}
